@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  /* background: url(./assets/images/background.jpg); */
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  /* display: grid; */
  /* place-items: center; */
  font-family: 'Outfit', sans-serif;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  height: 100%;
}


/* main::after,
main::before {
  content: '';
  ;
  position: absolute;
  background-color: red;
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 0px 2px 10px red;
}

main::after {
  bottom: 2rem;
  right: 13.3rem;
}

main::before {
  top: 2.9rem;
  left: 13.3rem;
} */

.cart {
  margin: 0 auto;
  /* width: 60%; */
  min-height: 100%;
  /* background-color: #000; */
  /* background-color: rgba(32, 32, 32, 0.8); */
  /* background:  linear-gradient(to right, rgb(96, 244, 255), rgb(105, 206, 201)); */
  /* backdrop-filter: blur(30px); */
  /* box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, .5); */
  display: grid;
  grid-auto-columns: 300px;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  border-radius: .8rem;
  overflow: hidden;
}

.loadout {
  /* border: 2px solid red; */
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.loadout-grid {
  overflow-x: hidden;
  padding-inline: 1rem;
}

.loadout-header {
  margin-block: 2rem;
  text-transform: capitalize;
}

.loadout-header>h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}


.table {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, 1fr));
  /* justify-items: center; */
  align-items: baseline;
  gap: 1rem;
}

.table :first-child {
  grid-column: span 2;
}

.table p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.loadout-item {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  margin-bottom: 2rem;
  position: relative;
}

.loadout-item p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.item-image {
  width: 2rem;
  aspect-ratio: 1;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}



.checkout {
  align-self: start;
  height: 35rem;
  display: grid;
  place-content: center;
}

.cart-total {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
}

.cart-total>h4 {
  font-weight: 200;
}

.total {
  font-size: 1.5rem;
  font-weight: 700;
}

.checkout-btn {
  background: red;
  border: 2px solid transparent;
  border-radius: .4rem;
  padding: 1em 3em;
  font-size: 1rem;
}

.checkout-btn:hover {
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, .3);
  background-color: transparent;
  cursor: pointer;
  border-top: 2px solid #000;
  border-top: 2px solid hsla(0, 0%, 100%, 0.5);
  border-left: 2px solid hsla(0, 0%, 100%, 0.5);
}

.qty-btn {
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
  user-select: none;
}

.qty-value {
  margin-inline: .5rem;
}


.cart-empty {
  display: grid;
  place-content: center;
  height: 80vh;
  text-align: center;
}

.message {
  color: #ede7e3;
}

/* .cta::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: hsl(174, 100%, 30%);
  border-radius: .5rem;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  transform-origin: left;
  transition: all 350ms ease-in-out;
  background-color: hsl(175, 100%, 20%);
} */


.cta {
  background-color: hsl(174, 100%, 30%);
  border-radius: .5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #ede7e3;
  padding: .5em 1.5em;
  cursor: pointer;
  transition: scale 250ms ease-in-out;
  /* position: relative; */
}

.cta:hover{
  scale: 1.1;
}
/* .cta:hover.cta::after,
.cta:focus.cta::after {
  background-color: hsl(174, 100%, 30%);
  right: 0;
} */

.menu {
  display: none;
  width: clamp(20px, 10vw, 60px);
  align-self: end;
  z-index: 9999;
}

.remove-item {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-block: 1rem;
  color: orange;
  font-weight: 900;
  cursor: pointer;
}

.hide {
  display: none;
}

@media (max-width: 700px) {

  .loadout {
    border: none;
    /* border: 2px solid red; */
    /* text-align: center; */
  }

  .loadout-header>h3 {
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .loadout-item p {
    font-size: .8125rem;
    font-weight: 100;
  }

  .item-image {
    margin: 0 auto;
  }

  .cart {
    /* width: 100%; */
    grid-template-columns: auto;
    padding: 0rem;
  }

  .table {
    grid-template-columns: repeat(4, minmax(20px, 1fr));
    justify-items: center;
    text-align: center;
  }

  .table :first-child {
    grid-column: auto;
  }

  .table p {
    max-width: 100px;
  }

  .checkout {
    grid-row: 1;
    border-left: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    height: auto;
  }

  .menu {
    display: block;
  }

  .nav-list {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60%;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

    transform: translateX(100%);
    transition: transform 450ms ease-in-out;
  }

  .nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  .show {
    display: block;
  }

  .remove-item {
    right: -5px;
  }
}