@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700;900&display=swap');

:root {
  --ff: 'Outfit', sans-serif;
  --bg-dark: hsl(0, 0%, 14%);
  --bg-dark-plus: hsl(0, 0%, 8%);
  --outline: rgba(255, 255, 255, 0.3);
  --clr-light: rgba(255, 255, 255, 0.5);
}

/* Generatl Styling Start */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: var(--ff);
  background-color: var(--bg-dark);
}


.container {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
}

.container-grid {
  max-width: 1366px;
  width: 70%;
  margin: 0 auto;
}

/* Generatl Styling End */

/* Header Start */

.logo {
  height: 80px;
  aspect-ratio: 1;
}

.sticky {
  position: sticky;
  top: 0;
}

header {
  background-color: var(--bg-dark);
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 8vw, 10rem);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: clamp(1rem, 8vw, 10rem);
  margin: 0;
  padding: 0;
}
.nav-list a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.shopping-cart,
.menu {
  background: none;
  border: none;
  position: relative;
}

.shopping-cart_icon {
  width: clamp(20px, 7vw, 35px);
}

.menu {
  display: none;
  width: clamp(20px, 10vw, 60px);
  align-self: end;
  z-index: 9999;
}

.nav-item:hover,
.nav-item:active,
.menu:hover,
.menu:focus,
.shopping-cart_icon:hover,
.shopping-cart_icon:focus{
  scale: 1.1;
}

.shopping-cart::after{
  content: attr(data-cart-items);
  position: absolute;
  top: 0px;
  right: -5px;
  width: 20px;
  aspect-ratio: 1;
  background-color: red;
  border-radius: .1rem;
  display: grid;
  place-content: center;
  font-size: .7rem;
}
/* Header End */

/* ==================*/
/*        Main       */
/* ==================*/

.shopping-grid {
  --min-col-size: 18rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col-size), 1fr));
  /* justify-items: center; */
  gap: 2rem 1rem;
}

.item {
  border: 2px solid var(--outline);
  border-radius: .3rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
}

.item-name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
  /* padding: 1rem; */
  margin: 1rem;
}

.item-image {
  display: grid;
  place-content: center;
  width: 100%;
  height: 18rem;
  border: 2px solid red;
  border-radius: .22em;
  overflow: hidden;
}

.item img {
  object-fit: cover;
}

.item-image:hover>img {
  cursor: pointer;
  transition: scale 500ms ease-in-out;
  scale: 1.1;
}

.price {
  margin: 0;
  margin-block-end: .5em;
  padding: 0;
  font-weight: 700;
  font-size: 1.5rem;
  justify-self: stretch;
}

.old-price {
  font-size: .875rem;
  font-weight: 300;
  text-decoration: line-through solid #fff 1px;
  padding-inline-end: .5rem;
  opacity: .5;
}

.cart-btn {
  padding: 1em 3em;
  background-color: red;
  border: none;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.1);
}

.cart-btn:hover {
  /* background-color: var(--bg-dark); */
  scale: 1.1;
  cursor: pointer;
  box-shadow: 0px 1px 20px 3px rgba(239, 47, 47, 0.3);
}

/* Main End */


/* ==================*/
/*       Footer      */
/* ==================*/

.footer {
  margin-top: 5rem;
  padding-block: 2rem;
  background-color: var(--bg-dark-plus);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(3rem, 10vw, 7rem);
  color: var(--clr-light);
}

.footer-main_img {
  width: min(400px, 40%);
  pointer-events: none;
  user-select: none;
}

.form {
  width: 50%;
}

.form>h4 {
  font-size: 2rem;
  font-weight: 400;
}

form {
  position: relative;
  border-bottom: 2px solid red;
  padding-right: 2.5rem;
  /* padding-left: 1rem; */
}

.form-submit {
  position: absolute;
  right: 0px;
  height: 1.5rem;
  filter: invert(48%) sepia(79%) saturate(900%) hue-rotate(206deg) brightness(100%) contrast(119%);
}

.form-input {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 1.3rem;
  width: 100%;
  color: var(--clr-light);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-end;
  color: var(--clr-light);
  gap: 1rem;
}

.policy>a {
  color: var(--clr-light);
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 20px;
}

/* ==================*/
/*       Utility     */
/* ==================*/

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 1px 20px 2px rgb(0, 0, 0, .3);
}

.non-clickable{
  background-color: #FF5E0E;
  pointer-events: none;
}

/* ==================*/
/* ====Media Query===*/
/* ==================*/

@media (max-width: 500px) {

  .container-grid {
    width: 100%;
  }

  .menu {
    display: block;
  }

  .nav-list {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;

    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-block: 9rem;
    width: 60%;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

    transform: translateX(100%);
    transition: transform 450ms ease-in-out;
  }

  .nav-list[data-visible="true"]{
    transform: translateX(0%);
  }
  .nav-item {
    /* background-color: red;
    padding: 1rem 3rem; */
    /* width: 100%;
    text-align: center; */
  }


  .footer-main {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .footer-links {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }

  .show {
    display: block;
  }
}